/packagecache/

# Legacy
/MMDevice/

# Subprojects installed by meson wrap
/mmdevice/
/*-*/

# Ignore *.wrap by default (may be auto-installed transitive dependencies)
/*.wrap

# Do not ignore wraps we provide
!/catch2.wrap
!/mmdevice.wrap
