name: MMDevice/MMCore/MMCoreJ Meson build & tests

on:
  pull_request:
    paths:
      - MMDevice/**
      - MMCore/**
      - MMCoreJ_wrap/**
      - .github/workflows/ci-mmdevice-mmcore.yml
  push:
    branches:
      - main
    paths:
      - MMDevice/**
      - MMCore/**
      - MMCoreJ_wrap/**
      - .github/workflows/ci-mmdevice-mmcore.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CJDK_HIDE_PROGRESS_BARS: '1'
  MAVEN_ARGS: '--batch-mode --no-transfer-progress'

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows
          - macos
          - macos-intel
          - ubuntu
        cppstd:  # Test the oldest and newest standards we support
          - c++14
          - c++17
        include:
          - os: windows
            runner: windows-latest
            cxx: cl
          - os: macos
            runner: macos-latest
            cxx: clang++
          - os: macos-intel
            runner: macos-15-intel
            cxx: clang++
          - os: ubuntu
            runner: ubuntu-latest
            cxx: g++
    name: ${{ matrix.runner }}-${{ matrix.cxx }}-${{ matrix.cppstd }}
    runs-on: ${{ matrix.runner }}
    env:
      CXX: ${{ matrix.cxx }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install tools
        run: |
          python -m pip install --upgrade pip meson ninja
      - uses: ilammy/msvc-dev-cmd@v1
        with:
          vsversion: '2022'
      - name: Build and test MMDevice
        run: |
          cd MMDevice
          meson setup builddir --buildtype debug -Dcpp_std=${{ matrix.cppstd }}
          meson test -C builddir --print-errorlogs
      - name: Prepare MMCore source
        shell: bash
        run: |
          git clean -dxf
          # Manually populate the mmdevice subproject to avoid fetching via
          # wrap from the mmdevice mirror repository.
          cp -R MMDevice MMCore/subprojects/mmdevice
      - name: Build and test MMCore
        run: |
          cd MMCore
          meson setup builddir --buildtype debug -Dcpp_std=${{ matrix.cppstd }}
          meson test -C builddir --print-errorlogs

  mmcorej-natives:
    name: mmcorej-${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
            name: linux-x86_64
            manylinux-image: quay.io/pypa/manylinux_2_28_x86_64
          - os: ubuntu-24.04-arm
            name: linux-arm64
            manylinux-image: quay.io/pypa/manylinux_2_28_aarch64
          - os: windows-2025
            name: windows-x86_64
            cxx: cl
          - os: macos-15
            name: macos-arm64
            deployment_target: "11.0"
          - os: macos-15
            name: macos-x86_64
            meson_cross_args: --cross-file=scripts/meson-cross-macos-x86_64.txt
            jdk_arch: x86_64
            deployment_target: "10.15"
    env:
      CXX: ${{ matrix.cxx }}
      CJDK_ARCH: ${{ matrix.jdk_arch }}
      MACOSX_DEPLOYMENT_TARGET: ${{ matrix.deployment_target }}
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.14
      - run: |
          uv tool install cjdk
          uv tool install meson
          uv tool install ninja
          uv tool install 'swig<4'
      - name: Build in manylinux container
        if: startsWith(matrix.os, 'ubuntu-')
        run: |
          cp -R MMDevice MMCoreJ_wrap/subprojects/mmdevice
          cp -R MMCore MMCoreJ_wrap/subprojects/mmcore
          docker run --rm -v "${{ github.workspace }}"/MMCoreJ_wrap:/work \
            -w /work \
            ${{ matrix.manylinux-image }} \
            bash scripts/build_jni_linux.sh
      - name: Build (non-Linux)
        if: "!startsWith(matrix.os, 'ubuntu-')"
        shell: bash
        run: |
          cp -R MMDevice MMCoreJ_wrap/subprojects/mmdevice
          cp -R MMCore MMCoreJ_wrap/subprojects/mmcore
          cd MMCoreJ_wrap
          export JAVA_HOME=$(cjdk -j zulu:8 java-home)
          export PATH="$JAVA_HOME/bin:$PATH"
          meson setup builddir --vsenv --buildtype=release \
            ${{ matrix.meson_cross_args }} \
            -Dmmdevice:tests=disabled -Dmmcore:tests=disabled
          meson compile -C builddir
      - name: Check SWIG-generated sources are correct in meson.build
        run: |
          cd MMCoreJ_wrap
          uv run --no-project scripts/verify_swig_gensrc.py builddir
      - name: Package & test (non-Windows)
        if: "!startsWith(matrix.os, 'windows-')"
        run: |
          cd MMCoreJ_wrap
          cjdk -j zulu:8 exec -- mvn verify
      - name: Package & test (Windows)
        if: startsWith(matrix.os, 'windows-')
        run: |
          cd MMCoreJ_wrap
          cjdk -j zulu:8 exec -- mvn.cmd verify
      - uses: actions/upload-artifact@v6
        with:
          name: mmcorej-natives-${{ matrix.name }}
          path: MMCoreJ_wrap/target/MMCoreJ-*-natives-*.jar

  mmcorej-java:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.14
      - run: |
          uv tool install cjdk
          uv tool install meson
          uv tool install ninja
          uv tool install 'swig<4'
      - run: |
          sudo apt-get update
          sudo apt-get install -y doxygen
      - run: |
          cp -R MMDevice MMCoreJ_wrap/subprojects/mmdevice
          cp -R MMCore MMCoreJ_wrap/subprojects/mmcore
          cd MMCoreJ_wrap
          export JAVA_HOME=$(cjdk -j zulu:8 java-home)
          export PATH="$JAVA_HOME/bin:$PATH"
          meson setup builddir -Djavadoc_from_doxygen=true \
            -Dmmdevice:tests=disabled -Dmmcore:tests=disabled
          meson compile -C builddir
          cjdk -j zulu:8 exec -- mvn package \
            -Dskip.natives=true -DskipTests=true
      - name: Verify full sources JAR
        run: |
          cd MMCoreJ_wrap
          ./scripts/verify-full-sources-jar.sh target/MMCoreJ-*-full-sources.jar
      - uses: actions/upload-artifact@v6
        with:
          name: mmcorej-java
          path: MMCoreJ_wrap/target/MMCoreJ-*.jar
